<div class="mb-1 app-section">
  <form class="container-fluid">
  <h4 class="pt-3 ps-2">Funcionários</h4>
    <div class="row">
      <div class="col">
          <app-basic-input type="text" label="Nome:" inputName="nome"></app-basic-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-basic-input type="text" label="Matricula:" inputName="matricula"></app-basic-input>
      </div>
      <div class="col">
        <app-basic-selector [itens]="status" label="Status" inputName="status"></app-basic-selector>
      </div>
      <div class="col">
        <app-basic-selector [itens]="cargos" label="Cargo:" inputName="cargo"></app-basic-selector>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col w-100 d-flex justify-content-center">
        <button (click)="buscarFuncionarios($event)" class="btn btn-primary mb-2 me-2">Pesquisar</button>
        <button (click)="limparPesquisa($event)"  class="btn btn-secondary mb-2">Limpar</button>
      </div>
    </div>
  </form>
</div>
<div class="app-section pt-3">
  <table class="table">
    <thead>
      <tr>
        <th>
          Matrícula
        </th>
        <th>
          Nome
        </th>
        <th>
          Cargo
        </th>
        <th>
          Status
        </th>
        <th>
          Ações
        </th>
      </tr>
    </thead>
    <tbody>
      @for (funcionario of paginaAtual; track funcionario.cpf){
        <tr>
          <td>
            {{funcionario.matricula}}
          </td>
          <td>
            {{funcionario.nome}}
          </td>
          <td>
            {{funcionario.nomeCargo}}
          </td>
          <td>
            {{funcionario.status ? "Ativo" : "Inativo"}}
          </td>
          <td>
            <a class="btn btn-secondary" [routerLink]="['./detalhar/', funcionario.cpf]">Detalhar</a>
            <a class="btn btn-primary" [routerLink]="['./alterar/', funcionario.cpf]">Alterar</a>
            <a class="btn btn-danger" [routerLink]="['./inativar/', funcionario.cpf]">Inativar</a>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5" style="text-align: center">Sem dados a serem mostrados</td>
        </tr>
      }
    </tbody>
  </table>
  @if(paginationEnabled){
    <div class="ps-2 pagination-area">
      <div>
        Mostrando {{pageOffset + 1}} - {{qntdPaginas.length == numeroPaginaAtual ? funcionarios.length : paginaAtual.length * numeroPaginaAtual}} de {{funcionarios.length}} registros
      </div>
      <div class="d-flex">
        @for (pagina of qntdPaginas; track pagina) {
          <button class="me-1 mb-2 page-button" (click)="paginar(pagina)">{{pagina}}</button>
        }
        <div ngbDropdown >
          <button ngbDropdownToggle class="page-button" type="button" id="paginationDropdown">{{qntdResgistrosAMostrar}}</button>
           <ul ngbDropdownMenu aria-labelledby="paginationDropdown">
            <li><button ngbDropdownItem (click)="alterarQntdRegistros(10)" class="dropdown-item"> 10</button></li>
             <li><button ngbDropdownItem (click)="alterarQntdRegistros(30)" class="dropdown-item"> 30</button></li>
             <li><button ngbDropdownItem (click)="alterarQntdRegistros(50)" class="dropdown-item"> 50</button></li>
          </ul>
        </div>
      </div>
    </div>
  }
</div>
